.bottle_image{
background-color: grey;
width:80%;
border-radius: 30px;
margin-left: 100px;
}
body{
    text-align:center;
    
}
.copyright_footer{
    position:fixed;
    bottom: 0;
    width:100%;
    background-color:black;
    line-height: 3;
    text-align:center;
    color:red;
}

